<footer class="mt-5" *ngIf="(user$ | async) as user">
    <div class="fixed-bottom bg-primary p-1">
        <div class="container">
            <div class="row text-center">
                <div class="col-4">
                    <p style="color: white; margin-top: 0;">&copy; Unicommerce 2023</p>
                </div>
                <div class="col-4">
                    <a [routerLink]="['']">
                        <i class="fa fa-home fa-2x" style="color: white;"></i>
                    </a>
                </div>
                <div class="col-4">
                    <a [routerLink]="['p', 'add']">
                        <i class="fa fa-plus-circle fa-2x" style="color: white;"></i>
                    </a>
                </div>        
            </div>      
        </div>
    </div>  
</footer>