<form>
  <h1><b>Cadastro de Clientes</b></h1>
  <div>
    <label for="nome"><b>Nome</b></label>
    <input id="nome" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<div>
  <label for="cpf"><b>CPF</b></label>
  <input id="cpf" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<div>
  <label for="celular"><b>Celular</b></label>
  <input id="celular" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<div>
  <label for="rua"><b>Rua</b></label>
  <input id="rua" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<div>
  <label for="numero"><b>Número</b></label>
  <input id="numero" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<div>
  <label for="complemento"><b>Complemento</b></label>
  <input id="complemento" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<div>
  <label for="bairro"><b>Bairro</b></label>
  <input id="bairro" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<div>
  <label for="cidade"><b>Cidade</b></label>
  <input id="cidade" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<div>
  <label for="estado"><b>Estado</b></label>
  <input id="estado" type="text" minlength="2" class="form-control" required autofocus/>
</div>
<br>
<button class="btn btn-primary" type="submit">Incluir</button>
<br>
<br>
</form>