<header class="fixed-top">
  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand"><h4>UNICOMMERCE</h4></a>

      <div *ngIf="(user$ | async) as user; else login">
          <i class="fa fa-user-circle mr-1"></i>
          <a class="mr-1">{{user.sub}}</a><br><br>
          <i class="fa fa-sign-out mr-1"></i>
          <a (click)="logout()">Sair</a>
      </div>

      <ng-template #login>
        <span class="navbar-text">
            <a [routerLink]="['']">Iniciar sessão</a>
        </span>
    </ng-template>


  </nav>
</header>