<!-- 
<h1>{{ title }}</h1>
<img class="img-thumbnail" [src]="url" [alt]="description">
-->

<!-- 
<ap-photo url=".\assets\unicommerce.png" description="Logomarca"></ap-photo>

<ap-photo url=".\assets\ecommerce.png" description="Teclado"></ap-photo>
-->
<!--  <app-categoria></app-categoria>
<app-categoria-lista></app-categoria-lista>
<app-cliente></app-cliente>
-->

<router-outlet></router-outlet>

<!-- 
<ap-photo 
    *ngFor="let photo of photos" 
    [url]="photo.url" 
    [description]="photo.description">
</ap-photo>
-->
